<div class="form-group row">
  <div class="col-md-4">

    <select class="form-control" name="vehicalSelect" [(ngModel)]="vehicalType">
      <option [ngValue]=null>-- Select a Vehical --</option>
      <option *ngFor="let vehicalType of vehicalList" [ngValue]="vehicalType">
        {{ vehicalType.name }}
      </option>
    </select>

  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)='onAddVechicalClicked()' [disabled]='vehicalType == undefined'>
      Add Vehical
    </button>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">

    <div class="col-md-8 col-md-offset-4">
        <div class="pull-right">
          Filter By Make:
          <input type="text" [(ngModel)]='listFilter' />
        </div>
    </div>

    <div class="row">
      <!--possibly different tables for different types of vehicals like truck, boats, bikes, caravans-->
      <div class="tabel-responsive">
        <table class="table" *ngIf='cars && cars.length'>
          <thead>
            <tr>
              <th>
                Id
              </th>
              <th>
                Make
              </th>
              <th>
                Model
              </th>
              <th>
                Engine
              </th>
              <th>
                Door
              </th>
              <th>
                Wheel
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let car of filteredCars'>
              <td>{{car.id}}</td>
              <td>{{car.make}}</td>
              <td>{{car.model}}</td>
              <td>{{car.engine}}</td>
              <td>{{car.door}}</td>
              <td>{{car.wheel}}</td>
              <td>
                <!--edit buttons in the table should point to respective edit url eg /boatEdit, /bikeEdit -->  
                <a class="btn btn-primary"
                   [routerLink]="['/carEdit', car.id]" style="width:80px">
                  Edit
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
