
<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="saveCar()"
          [formGroup]="carForm">
      <fieldset>
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.make }">
          <label class="col-md-2 control-label" for="makeId">Make</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="makeId"
                   type="text"
                   placeholder="Make (required)"
                   formControlName="make" />
            <span class="help-block" *ngIf="displayMessage.make">
              {{displayMessage.make}}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.model}">
          <label class="col-md-2 control-label" for="modelId">Model</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="modelId"
                   type="text"
                   placeholder="Model (required)"
                   formControlName="model" />
            <span class="help-block" *ngIf="displayMessage.model">
              {{displayMessage.model}}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.engine}">
          <label class="col-md-2 control-label" for="engineId">Engine</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="engineId"
                   type="text"
                   placeholder="Engine (required)"
                   formControlName="engine" />
            <span class="help-block" *ngIf="displayMessage.engine">
              {{displayMessage.engine}}
            </span>
          </div>
        </div>



        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.door}">
          <label class="col-md-2 control-label" for="doorId">Door</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="doorId"
                   type="text"
                   placeholder="Door (required)"
                   formControlName="door" />
            <span class="help-block" *ngIf="displayMessage.door">
              {{displayMessage.door}}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.wheel}">
          <label class="col-md-2 control-label" for="wheelId">Wheel</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="wheelId"
                   type="text"
                   placeholder="Wheel (required)"
                   formControlName="wheel" />
            <span class="help-block" *ngIf="displayMessage.wheel">
              {{displayMessage.wheel}}
            </span>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary"
                      type="submit"
                      style="width:80px;margin-right:5px"
                      [disabled]='!carForm.valid'>
                Save
              </button>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px;margin-right:5px"
                 [routerLink]="['/vehicals']">
                Cancel
              </a>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px"
                 (click)="deleteCar()">
                Delete
              </a>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
  </div>

</div>
